.documents {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.document {
  textarea {
    width: 100%;
    margin: 0 auto;
  }

  .notification {
    color: #27ae60;

    transition: opacity 0.1s;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }
}
