header.main-header {
  width: 100%;
  height: 70px;
  background: #263248;

  color: #fff;
  font-size: 30px;
  line-height: 70px;

  #logo {
    display: inline-block;
    width: 30%;
  }

  .auth {
    display: inline-block;
    width: 68%;
    text-align: right;
  }

}
