<h1><%= @document.name %> - invited users</h1>

<%= form_for @changeset, document_invitation_path(@conn, :create, @document), fn f -> %>
  <%= text_input f, :email, placeholder: "Email" %>
  <%= select f, :type, ["edit", "view"] %>
  <%= submit "Invite", class: "btn btn-primary" %>

<% end %>

<ul>
  <%= for invitation <- @invitations do %>
    <li><%= invitation.user.name %> - <%= invitation.type %></li>
  <% end %>
</ul>
