<div class="document">
  <%= link "< All documents", to: document_path(@conn, :index) %>
  <h1><%= @document.name %></h1>

  <%= link "Delete", to: document_path(@conn, :delete, @document), method: :delete %> |
  <%= invitations_link(@conn, @document) %>


  <p class="notification">Document saved</p>

  <input type="hidden" value=<%= @document.id %> id="document-id">
  <textarea id="text" rows="20"><%= @document.content %></textarea>
</div>
